@import url(https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Ubuntu+Mono&display=swap);

html {
    //This defines what 1 rem is, accomodates user
    font-size: 62.5%;
}

body {
    /* Changes the box-model so that the borders and paddings are no
    longer added to total width / height we specify for a box */
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
    color: #F2F2F2;
    background-image: url("../public/folk-pattern-black.png")
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

