.MainLayout {
    background-color: #000;
}

@media only screen and (min-width: 900px) {
    .MainLayout {
        width: 75%;
        margin: 2.5% 10%;
        // height: 75vh;
        background-color: #000;
    }
}